body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
iframe {
    border:none;    
    width:354px;
    height:354px;
    pointer-events: none;
}
h1 {
    text-align: center;
    font-size: 3em;
}
#error_report {
    color: red;
    background-color: white;
}
#to_align_element {
    height: auto;
    vertical-align: middle;
    display: table-cell;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;

}
#to_align_element>div {
    background-color: tomato;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#to_align {
    height: 400px;
    display: table;
    margin-left: auto;
    margin-right: auto;    
}
#history_container {
    text-decoration: underline;
}
#history_container span:hover {
    color: blue;
    text-decoration: underline;
}


